html {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 15%; /* 스크롤바의 길이 */
  background: #be968b; /* 스크롤바의 색상 */

  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: #fbf7f3; /*스크롤바 뒷 배경 색상*/
}
