#parallax__cont {
  overscroll-behavior: none;
  width: 400%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;

  .parallax__item {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .parallax__item__num {
      font-size: 7vw;
      position: absolute;
      right: 10vw;
      top: 80px;
      font-weight: 100;
      z-index: 100;
      color: #be968b;
    }
    .parallax__item__num2 {
      font-size: 7vw;
      position: absolute;
      left: 50vw;
      top: 27vw;
      font-weight: 100;
      z-index: 100;
      color: #ad8073;
    }
    .parallax__item__num3 {
      font-size: 7vw;
      position: absolute;
      right: 16vw;
      top: 80px;
      font-weight: 100;
      z-index: 100;
      color: #be968b;
    }

    .parallax__item__text1 {
      font-size: 1vw;
      position: absolute;
      top: 20vw;
      left: 55vw;
      font-family: NexonLv1GothicLow;
    }
    .parallax__item__text2 {
      font-size: 1vw;
      position: absolute;
      top: 37vw;
      left: 55vw;
      font-family: NexonLv1GothicLow;
    }
    .parallax__item__text3 {
      font-size: 1vw;
      position: absolute;
      top: 20vw;
      left: 55vw;
      font-family: NexonLv1GothicLow;
    }
    .parallax__item__imgWrap {
      width: 40vw;
      height: 80vh;
      padding-bottom: 18%;
      position: relative;
      // overflow: hidden;
      .parallax__item__img {
        width: 50vw;
        height: 50vw;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        transition: all 1s;
        margin-top: -5vw;
        margin-left: -28vw;
      }
    }
    .button1 {
      position: relative;

      .git {
        width: 11vw;
        height: 3vw;
        font-size: 1.3vw;
        border-radius: 50px;
        background-color: #f5e9df;
        color: #ad8073;
        border: 1px solid #ad8073;
        position: absolute;
        left: -15vw;
        top: 10vw;
        text-align: center;
        font-weight: 100;
      }
      .site {
        width: 11vw;
        height: 3vw;
        font-size: 1.3vw;
        border-radius: 50px;
        background-color: #f5e9df;
        color: #ad8073;
        border: 1px solid #ad8073;
        position: absolute;
        left: -2vw;
        top: 10vw;
        text-align: center;
        font-weight: 100;
      }
    }
    .button2 {
      position: relative;

      .git2 {
        width: 11vw;
        height: 3vw;
        font-size: 1.3vw;
        border-radius: 50px;
        background-color: #f5e9df;
        color: #ad8073;
        border: 1px solid #ad8073;
        position: absolute;
        left: -15vw;
        top: -17vw;
        text-align: center;
        font-weight: 100;
      }
      .site2 {
        width: 11vw;
        height: 3vw;
        font-size: 1.3vw;
        border-radius: 50px;
        background-color: #f5e9df;
        color: #ad8073;
        border: 1px solid #ad8073;
        position: absolute;
        left: -2vw;
        top: -17vw;
        text-align: center;
        font-weight: 100;
      }
    }
  }
}
.parallax__item__img:hover {
  filter: saturate(100%);
  transform: scale(1.025);
}
#section1-1 .parallax__item__img {
  background-image: url(../assets/images/img01.png);
}
#section1-2 .parallax__item__img {
  background-image: url(../assets/images/img02.png);
}
#section1-3 .parallax__item__img {
  background-image: url(../assets/images/img03.png);
}
#section1-4 .parallax__item__img {
  background-image: url(../assets/images/img04.png);
}
/* option */
#parallax__cont {
  overflow: hidden;
}
#horizontal {
  display: flex;
  flex-wrap: wrap;
  width: 500vw;
}
#horizontal > section {
  width: 100vw;
}

@media (max-width: 600px) {
  #parallax__cont {
    height: 100vw;
    #section1-1 {
      position: relative;
      .parallax__item__num {
        font-size: 7vw;
        position: absolute;
        left: 38vw;
        top: 15vw;
      }
      .parallax__item__text1 {
        font-size: 10px;
        text-align: left;
        position: absolute;
        left: 44vw;
        top: 30vw;
      }
      .parallax__item__imgWrap {
        .parallax__item__img {
          width: 40vw;
        }
      }
      .button1 {
        position: relative;
        .git {
          position: absolute;
          left: -25vw;
          top: -35vw;
        }
        .site {
          position: absolute;
          left: -10vw;
          top: -35vw;
        }
      }
    }
    #section1-2 {
      position: relative;
      .parallax__item__num2 {
        font-size: 7vw;
        position: absolute;
        left: 39vw;
        top: 50vw;
      }
      .parallax__item__text2 {
        font-size: 10px;
        text-align: left;
        position: absolute;
        left: 44vw;
        top: 40vw;
      }
      .parallax__item__imgWrap {
        .parallax__item__img {
          width: 40vw;
        }
      }
      .button2 {
        position: relative;
        .git2 {
          position: absolute;
          left: -25vw;
          top: -70vw;
        }
        .site2 {
          position: absolute;
          left: -10vw;
          top: -70vw;
        }
      }
    }
    #section1-3 {
      position: relative;
      .parallax__item__num3 {
        font-size: 7vw;
        position: absolute;
        left: 38vw;
        top: 15vw;
      }
      .parallax__item__text3 {
        font-size: 10px;
        text-align: left;
        position: absolute;
        left: 44vw;
        top: 30vw;
      }
      .parallax__item__imgWrap {
        .parallax__item__img {
          width: 40vw;
        }
      }
      .button1 {
        position: relative;
        .git {
          position: absolute;
          left: -25vw;
          top: -35vw;
        }
        .site {
          position: absolute;
          left: -10vw;
          top: -35vw;
        }
      }
    }
    #section1-4 {
      position: relative;
      .parallax__item__num2 {
        font-size: 7vw;
        position: absolute;
        left: 39vw;
        top: 50vw;
      }
      .parallax__item__text2 {
        font-size: 10px;
        text-align: left;
        position: absolute;
        left: 44vw;
        top: 40vw;
      }
      .parallax__item__imgWrap {
        .parallax__item__img {
          width: 40vw;
        }
      }
      .button2 {
        position: relative;
        .git2 {
          position: absolute;
          left: -25vw;
          top: -70vw;
        }
        .site2 {
          position: absolute;
          left: -10vw;
          top: -70vw;
        }
      }
    }
  }
}
