#section7 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 110vh;
  color: #4d3d30;
  .award__wrap {
    .award__container {
      .award__inner {
        width: 50vw;
        height: 35vw;
        background-color: #e8e0d4;
        margin: 0 auto;
      }
      .arard__text01 {
        font-size: 2vw;
        text-align: center;
        padding-top: 2vw;
      }
      .arard__text02 {
        font-size: 12vw;
        font-weight: 400;
        text-align: center;
        margin-top: -2vw;
        opacity: 0;
        transform: translateY(50%);
        transition: all 1s;

        // transition: opacity 1s, transform 1s;
        .arard__text02.show {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .arard__text03 {
        text-align: center;
        font-size: 1.5vw;
        opacity: 0;
        transform: translateY(50%);
        transition: all 1s;
        .arard__text03.show {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
