// // @media (max-width: 1300px) {
// //   #section1 {
// //     height: 170vh;
// //     .desc1 {
// //       margin-top: -3vw;
// //     }
// //     .desc2 {
// //       margin-top: -7vw;
// //       font-size: 3.5vw;
// //     }
// //     .desc3 {
// //       .section1__img {
// //         width: 10vw;
// //         height: 10vw;
// //         padding-top: 2vw;
// //         margin-top: -2vw;
// //       }
// //     }
// //   }
// // }

// // @media (max-width: 1200px) {
// //   #section1 {
// //     height: 150vh;
// //   }
// // }

// // @media (max-width: 800px) {
// //   #header {
// //     height: 50px;
// //     h1 {
// //       a {
// //         padding: 3px;
// //         font-size: 16px;
// //       }
// //     }
// //   }
// //   #section1 {
// //     height: 100vh;
// //     h2 {
// //       font-size: 2vw;
// //       padding-top: 20px;
// //     }
// //     .desc1 {
// //       font-size: 2vw;
// //       padding: 5% 10%;
// //       width: 100%;
// //     }
// //     .desc2 {
// //       font-size: 5vw;
// //       padding-top: 7vw;
// //     }
// //     .desc3 {
// //       .section1__img {
// //         margin-top: 10vw;
// //       }
// //     }
// //     // .desc4 {
// //     //   .desc4__title {
// //     //     padding-top: 15vw;
// //     //   }
// //     // }
// //   }
// // }

// // @media (max-width: 1194px) {
// //   #section1 {
// //     height: 200vh;
// //   }
// // }

// // @media (max-width: 700px) {
// //   #section1 {
// //     height: 100vh;
// //     .desc3 {
// //       .section1__img {
// //         margin-top: 20vw;
// //       }
// //     }
// //   }
// // }

// // @media (max-width: 864px) {
// //   #section1 {
// //     height: 100vh;
// //   }
// // }

// // @media (max-width: 856px) {
// //   #section1 {
// //     height: 130vh;
// //     .desc2 {
// //       font-size: 4vw;
// //     }
// //     .desc3 {
// //       width: 30vw;
// //       height: 30vh;
// //       padding-top: 4vw;
// //       .name {
// //         font-size: 2vw;
// //       }
// //     }
// //   }
// // }

// // @media (max-width: 576px) {
// //   #section1 {
// //     height: 100vh;
// //   }
// // }

// /* 화면 너비 : 0부터 1280까지 데스크탑 */
// @media (max-width: 1280px) {
//   #section1 {
//     height: 170vh;
//     .split {
//       font-size: 25vw;
//     }
//   }
// }

// /* 화면 너비 : 0부터 1024까지  데스크탑*/
// @media (max-width: 1280px) {
//   #section1 {
//     height: 150vh;
//     .split {
//       font-size: 29vw;
//     }
//   }
// }

// /* 화면 너비 : 0부터 960 노트북 */
// @media (max-width: 1280px) {
//   #section1 {
//     height: 150vh;
//     .split {
//       font-size: 29vw;
//     }
//   }
// }

// /* 화면 너비 : 0부터 768 테블릿 */

// /* 화면 너비 : 0부터 576 모바일 */
// @media (max-width: 1280px) {
//   #section1 {
//     height: 120vh;
//     .desc3 {
//       .section1__img {
//         margin-top: -10vw;
//       }
//     }
//   }
// }

// @media (max-width: 300px) {
//   #section1 {
//     height: 60vh;
//     .desc2 {
//       margin-top: 30vw;
//     }
//     .desc3 {
//       .section1__img {
//         margin-top: -90vw;
//       }
//     }
//   }
// }

#section1 {
  width: 100%;
  height: 220vh;
  background-image: url(../assets/images/headerbg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 30vh;
}
#section1 h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30vw;
  line-height: 1;
  color: #fff;
  font-weight: 300;
  padding-top: 4vw;
}
#section1 .desc1 {
  font-size: 30;
  width: 500px;
  padding-left: 10vw;
  color: #fff;
  padding-top: 5vw;
  text-transform: uppercase;
}
#section1 .desc2 {
  font-size: 5vw;
  color: #fff;
  line-height: 1;
  width: 70%;
  margin: 30% auto;
  font-weight: 300;
  text-transform: uppercase;
}
#section1 .desc3 {
  width: 30vw;
  height: 30vw;
  margin: 20vw auto 10vw auto;
}
#section1 .desc3 .name {
  color: #fff;
  font-size: 3vw;
  text-align: right;
  margin-top: -2vw;
  margin-right: -10vw;
  font-weight: 300;
}

/* media */
@media (max-width: 800px) {
  #header {
    height: 50px;
  }
  #header h1 a {
    padding: 3px;
    font-size: 16px;
  }
  #header .contact a {
    padding: 3px;
    font-size: 16px;
  }
  #section1 h2 {
    padding-top: 90px;
  }
  #section1 .desc1 {
    font-size: 20px;
    padding: 0 10%;
    text-align: center;
    width: 100%;
  }
  #section1 .desc2 {
    font-size: 24px;
    text-align: center;
    margin-top: 20%;
  }
  #section1 .desc3 {
    width: 80vw;
    box-shadow: none;
  }
}
/* 화면 너비 : 0부터 1280까지 데스크탑 */
/* 화면 너비 : 0부터 1024까지  데스크탑*/
/* 화면 너비 : 0부터 960 노트북 */
/* 화면 너비 : 0부터 768 테블릿 */
/* 화면 너비 : 0부터 576 테블릿 */

@media (max-width: 1280px) {
  #section1 {
    height: 130vw;
    h2 {
    }
    .desc1 {
    }
    .desc2 {
      margin-top: 35vw;
    }
    .desc3 {
      img {
        margin-top: 15vw;
      }
    }
  }
}

/* 화면 너비 : 0부터 1024까지  데스크탑*/
@media (max-width: 1024px) {
  #section1 {
    height: 130vw;
    h2 {
    }
    .desc1 {
    }
    .desc2 {
      margin-top: 40vw;
    }
    .desc3 {
      img {
        margin-top: 15vw;
      }
    }
  }
}
/* 화면 너비 : 0부터 960 노트북 */
@media (max-width: 960px) {
  #section1 {
    height: 130vw;
    h2 {
    }
    .desc1 {
    }
    .desc2 {
      margin-top: 40vw;
    }
    .desc3 {
      img {
        margin-top: 15vw;
      }
    }
  }
}

/* 화면 너비 : 0부터 768 테블릿 */
@media (max-width: 768px) {
  #section1 {
    height: 100vw;
    h2 {
      font-size: 15vw;
      margin-left: -50vw;
    }
    .desc1 {
      font-size: 2vw;
      margin-top: 3vw;
      margin-left: -25vw;
    }
    .desc2 {
      margin-left: -10vw;
      margin-top: 28vw;
    }
    .desc3 {
      img {
        margin-top: 28vw;
        width: 30vw;
      }
    }
  }
}

/* 화면 너비 : 0부터 576 모바일 */
@media (max-width: 600px) {
  #section1 {
    height: 150vh;
    h2 {
      font-size: 28vw;
      margin-left: -1vw;
    }
    .desc1 {
      font-size: 2vw;
      padding-right: 10vw;
      margin-top: 5vw;
    }
    .desc2 {
      font-size: 4vw;
      margin-top: 30vw;
      margin-left: 15vw;
    }
    .desc3 {
      img {
        width: 30vw;
        // padding-top: -5vw;
        margin-left: 25vw;
      }
      .name {
        margin-right: 7vw;
        padding-top: 2vw;
      }
    }
  }
}
