#section9 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/footerimg.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1000;
  .footer__wrap {
    .footer__container {
      display: flex;
      width: 100%;
      height: 30vh;
      color: #fff;
      //   position: relative;
      .footer__inner1 {
        ul {
          li {
            font-size: 1.2vw;
            color: #fff;
            position: relative;
            left: 3vw;
            top: 2vw;
            .underline-rotate {
              position: relative;
              display: inline-block;
              color: inherit;
              overflow: hidden;
            }
            .underline-rotate::before {
              content: "";
              position: absolute;
              left: 0;
              bottom: -2px;
              width: 100%;
              height: 3px;
              background-color: #fff;
              transform-origin: left center;
              transform: scaleX(0);
              transition: transform 0.2s ease;
            }

            .underline-rotate:hover::before {
              transform: scaleX(1);
            }
          }
        }
      }
      .footer__inner1__01 {
        ul {
          li {
            font-size: 1.2vw;
            color: #fff;
            position: relative;
            left: 5vw;
            top: 2vw;
            .underline-rotate {
              position: relative;
              display: inline-block;
              color: inherit;
              overflow: hidden;
            }
            .underline-rotate::before {
              content: "";
              position: absolute;
              left: 0;
              bottom: -2px;
              width: 100%;
              height: 3px;
              background-color: #fff;
              transform-origin: left center;
              transform: scaleX(0);
              transition: transform 0.2s ease;
            }

            .underline-rotate:hover::before {
              transform: scaleX(1);
            }
          }
        }
      }
      .footer__inner1__02 {
        ul {
          li {
            font-size: 1.2vw;
            color: #fff;
            position: relative;
            left: 7vw;
            top: 2vw;
            .underline-rotate {
              position: relative;
              display: inline-block;
              color: inherit;
              overflow: hidden;
            }
            .underline-rotate::before {
              content: "";
              position: absolute;
              left: 0;
              bottom: -2px;
              width: 100%;
              height: 3px;
              background-color: #fff;
              transform-origin: left center;
              transform: scaleX(0);
              transition: transform 0.2s ease;
            }

            .underline-rotate:hover::before {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }

  .footer__inner2 {
    width: 100%;
    height: 62vh;
    text-align: center;
    padding-top: 4vw;
    .footer__text {
      font-size: 10vw;
      color: #fff;
    }
  }

  .footer__inner3 {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 8vh;
    background-color: #ffffff80;
    backdrop-filter: blur(5px);
    .inner__text1 {
      font-size: 1vw;
      text-align: left;
      color: #fff;
      padding-left: 2vw;
    }
    .inner__text2 {
      font-size: 1vw;
      text-align: right;
      color: #fff;
      padding-right: 2vw;
    }
  }
}

@media (max-width: 600px) {
  #section9 {
    height: 100vw;
    .footer__wrap {
      .footer__container {
        .footer__inner1 {
          ul {
            li {
            }
          }
        }
        .footer__inner1__01 {
          ul {
            li {
            }
          }
        }
        .footer__inner1__02 {
          ul {
            li {
            }
          }
        }
      }
    }
  }
}
